<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <div class="title_inner d-flex">
                {{'my_services' | translate}}
                <span class="end" (click)="add_service()">
                    <ion-icon class="zmdi zmdi-plus ion-text-start"></ion-icon> {{'add_new' | translate}}
                </span>
            </div>
        </ion-title>
    </ion-toolbar> 
</ion-header>

<ion-content>
    <div class="services d-flex">
        <div class="service_category">
            <ion-segment mode="ios" scrollable [(ngModel)]="services_tab" lines="none">
                <ion-segment-button mode="ios" class="animate__animated animate__zoomIn" value="All">
                    <ion-label>
                        <div class="img_box">
                            <img src="assets/images/ic_all.png" class="before">
                            <img src="assets/images/ic_allactive.png" class="after">
                        </div>
                        <h3>All</h3>
                    </ion-label>
                </ion-segment-button>
                <ion-segment-button mode="ios" class="animate__animated animate__zoomIn" value="Face">
                    <ion-label>
                        <div class="img_box">
                            <img src="assets/images/ic_face.png" class="before">
                            <img src="assets/images/ic_faceactive.png" class="after">
                        </div>
                        <h3>Face</h3>
                    </ion-label>
                </ion-segment-button>
                <ion-segment-button mode="ios" class="animate__animated animate__zoomIn" value="Hair">
                    <ion-label>
                        <div class="img_box">
                            <img src="assets/images/ic_hair.png" class="before">
                            <img src="assets/images/ic_hairactive.png" class="after">
                        </div>
                        <h3>Hair</h3>
                    </ion-label>
                </ion-segment-button>
                <ion-segment-button mode="ios" class="animate__animated animate__zoomIn" value="Removal">
                    <ion-label>
                        <div class="img_box">
                            <img src="assets/images/ic_removal.png" class="before">
                            <img src="assets/images/ic_removalactive.png" class="after">
                        </div>
                        <h3>Removal</h3>
                    </ion-label>
                </ion-segment-button>
                <ion-segment-button mode="ios" class="animate__animated animate__zoomIn" value="Nail">
                    <ion-label>
                        <div class="img_box">
                            <img src="assets/images/ic_nail.png" class="before">
                            <img src="assets/images/ic_nailactive.png" class="after">
                        </div>
                        <h3> Nail</h3>
                    </ion-label>
                </ion-segment-button>
            </ion-segment>
        </div>

        <!--services_tab start -->
        <div style="width: 100%" class="" [ngSwitch]="services_tab">
            <!--services all tab start -->
            <div class="services_list end" *ngSwitchCase="'All'">
                <div class="service_list_inner">
                    <h2>Face</h2>
                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Fruit Facial
                            <span class="end">$18
                            </span>
                        </h3>
                        <h4>20 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Bridal Make up
                            <span class="end">$40
                            </span>
                        </h3>
                        <h4>45 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Face Bleach
                            <span class="end">$20
                             
                            </span>
                        </h3>
                        <h4>25 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Cleanup & Glow
                            <span class="end">$20
                            </span>
                        </h3>
                        <h4>15 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Detanning
                            <span class="end">$15
                             
                            </span>
                        </h3>
                        <h4>22 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Skin Light Masque
                            <span class="end">$20
                             
                            </span>
                        </h3>
                        <h4>25 mins </h4>
                    </div>
                </div>


                <div class="service_list_inner">
                    <h2>Hair</h2>
                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Style My Hair
                            <span class="end">$18
                             
                            </span>
                        </h3>
                        <h4>20 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Color My Hair
                            <span class="end">$35
                            </span>
                        </h3>
                        <h4>45 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Lesmo Hair Spa
                            <span class="end">$20
                            </span>
                        </h3>
                        <h4>25 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Hair extensions
                            <span class="end">$20
                            </span>
                        </h3>
                        <h4>15 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Highlights / lowlights
                            <span class="end">$15
                             
                            </span>
                        </h3>
                        <h4>22 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Hair treatments
                            <span class="end">$20
                            </span>
                        </h3>
                        <h4>25 mins </h4>
                    </div>
                </div>

                <div class="service_list_inner">
                    <h2>Removal</h2>
                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Hair bleaching
                            <span class="end">$18
                            </span>
                        </h3>
                        <h4>20 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Laser
                            <span class="end">$35
                            </span>
                        </h3>
                        <h4>45 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Sugaring
                            <span class="end">$20
                            </span>
                        </h3>
                        <h4>25 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Waxing
                            <span class="end">$20
                            </span>
                        </h3>
                        <h4>15 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">General
                            <span class="end">$15
                             
                            </span>
                        </h3>
                        <h4>22 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Electrolysis
                            <span class="end">$20
                            </span>
                        </h3>
                        <h4>25 mins </h4>
                    </div>
                </div>



                <div class="service_list_inner">
                    <h2>Nail</h2>
                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Acrylic
                            <span class="end">$18
                            </span>
                        </h3>
                        <h4>20 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Gel
                            <span class="end">$35
                            </span>
                        </h3>
                        <h4>45 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Manicure
                            <span class="end">$20
                            </span>
                        </h3>
                        <h4>25 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Pedicure
                            <span class="end">$20
                            </span>
                        </h3>
                        <h4>15 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">General
                            <span class="end">$15
                             
                            </span>
                        </h3>
                        <h4>22 mins </h4>
                    </div>
                </div>
            </div>
            <!--services all tab end -->


            <!--services face tab start -->
            <div class="services_list end" *ngSwitchCase="'Face'">
                <div class="service_list_inner">
                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Fruit Facial
                            <span class="end">$18
                            </span>
                        </h3>
                        <h4>20 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Bridal Make up
                            <span class="end">$40
                            </span>
                        </h3>
                        <h4>45 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Face Bleach
                            <span class="end">$20
                             
                            </span>
                        </h3>
                        <h4>25 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Cleanup & Glow
                            <span class="end">$20
                            </span>
                        </h3>
                        <h4>15 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Detanning
                            <span class="end">$15
                             
                            </span>
                        </h3>
                        <h4>22 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Skin Light Masque
                            <span class="end">$20
                             
                            </span>
                        </h3>
                        <h4>25 mins </h4>
                    </div>
                </div>
            </div>
            <!--services face tab end -->


            <!--services Hair tab start -->
            <div class="services_list end" *ngSwitchCase="'Hair'">
                <div class="service_list_inner">
                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Style My Hair
                            <span class="end">$18
                            </span>
                        </h3>
                        <h4>20 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Color My Hair
                            <span class="end">$35
                            </span>
                        </h3>
                        <h4>45 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Lesmo Hair Spa
                            <span class="end">$20
                            </span>
                        </h3>
                        <h4>25 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Hair extensions
                            <span class="end">$20
                            </span>
                        </h3>
                        <h4>15 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Highlights / lowlights
                            <span class="end">$15
                             
                            </span>
                        </h3>
                        <h4>22 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Hair treatments
                            <span class="end">$20
                            </span>
                        </h3>
                        <h4>25 mins </h4>
                    </div>
                </div>
            </div>
            <!--services Hair tab end -->



            <!--services Removal tab start -->
            <div class="services_list end" *ngSwitchCase="'Removal'">
                <div class="service_list_inner">
                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Hair bleaching
                            <span class="end">$18
                            </span>
                        </h3>
                        <h4>20 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Laser
                            <span class="end">$35
                            </span>
                        </h3>
                        <h4>45 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Sugaring
                            <span class="end">$20
                            </span>
                        </h3>
                        <h4>25 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Waxing
                            <span class="end">$20
                            </span>
                        </h3>
                        <h4>15 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">General
                            <span class="end">$15</span>
                        </h3>
                        <h4>22 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Electrolysis
                            <span class="end">$20
                            </span>
                        </h3>
                        <h4>25 mins </h4>
                    </div>
                </div>
            </div>
            <!--services Removal tab end -->


            <!--services Removal tab start -->
            <div class="services_list end" *ngSwitchCase="'Nail'">
                <div class="service_list_inner">
                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Acrylic
                            <span class="end">$18
                            </span>
                        </h3>
                        <h4>20 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Gel
                            <span class="end">$35
                            </span>
                        </h3>
                        <h4>45 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Manicure
                            <span class="end">$20
                            </span>
                        </h3>
                        <h4>25 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">Pedicure
                            <span class="end">$20</span>
                        </h3>
                        <h4>15 mins </h4>
                    </div>

                    <div class="service animate__animated animate__fadeInUp">
                        <h3 class="d-flex">General
                            <span class="end">$15
                             
                            </span>
                        </h3>
                        <h4>22 mins </h4>
                    </div>
                </div>
            </div>
            <!--services Removal tab end -->
        </div>
        <!--services_tab end -->
    </div>
</ion-content>